* {
    box-sizing: border-box;
    margin: 2px;

    
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  .header {
    padding: 20px;
    text-align: left;
    color: white;
    height: 100px;
    background-color: gray; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, rgb(30, 59, 88), rgb(118, 97, 236));
  }

  .button {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

  }  

  @media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav {
      flex-direction: column;
    }
    /* Make the sidebar stack below the body */
    aside {
      order: 2;
    }
    /* Change the header background */
    header {
      background: #772014;
    }
    /* Change the navbar and footer background */
    nav,
    footer {
      background-color: #bb8588;
    }
  }

  /*set parameters for responive pages on different devices*/
  @media screen and (max-width: 1200px) {
    header {
      background: slategray;
    }
  }
  
  @media screen and (max-width: 992px) {
    section,
    header {
      background-image: linear-gradient(180degblack, slategray);
    }
    nav {
      background-color: black;
    }
  }
  
  @media screen and (max-width: 768px) {
    nav {
      background-color: slategray;
    }
  }
  
  @media screen and (max-width: 576px) {
    footer {
      background-color: black;
    }
  }

  